:root {
    --max-width: 50rem;
    --footer-height: 5em;
}

::selection {
    color: var(--text-sel-color);
    background: var(--bg-sel-color);
}

html {
    height: 100%;
}

#content {
    margin: 0 auto 5em auto;
    max-width: var(--max-width);
}

@media(max-width:var(--max-width)) {
    #content {
        padding: 10px;
    }
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; font-weight: normal; }
h3 { font-size: 1.2em; font-style: italic; }
h1, h2, h3, h4, h5 {
    color: var(--text-hdr-color);
    font-family: "Merriweather Sans";
    margin-bottom: .1rem;
}

p, ul li { font-family: "Merriweather"; font-size: 1em; line-height: 1.5em; }

body {
    margin: 0;
    min-height: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
    padding-bottom: var(--footer-height);
}

pre, code {
    border: 0;
    font-size: 1em;
    font-family: "Fira Code";
    font-weight: 400;
    background-color: var(--code-bg-color);
}

a, a:active {
    color: var(--link-color);
    background-color: var(--link-bg-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    background-color: var(--sel-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-visited-color);
    text-decoration: none;
}

a:visited:hover {
    color: var(--text-color);
    background-color: var(--sel-color);
    text-decoration: none;
}

blockquote {
    margin: 0.5em 10px;
    padding: 0.5em 10px;
    border-left: 1px solid var(--border-color);
}

header {
    color: var(--text-alt-color);
    background-color: var(--bg-alt-color);
}

header nav {
    font-size: 1.25em;
    padding: 0.75em 0.5em;
    max-width:var(--max-width);
    margin: 0 auto;
}

header nav ul { display: inline; padding: 0; }
header nav ul li { display: inline; bullet: none; }
header nav ul li a {
    padding: 0.75em 0.5em;
    font-family: "Merriweather";
    font-variant: small-caps;
    color: var(--text-alt-color);
    background-color: var(--bg-alt-color);
}

header nav ul li a:visited {color: var(--text-alt-color);}
header nav ul li a:hover,
header nav ul li a:hover:visited
{
    color: var(--text-sel-color);
    background-color: var(--bg-sel-color);
    border-bottom: 5px solid var(--link-color);
}

footer {
    width: 100%;
    left: 0 ; right: 0; bottom: 0;
    position: absolute;
    padding-top: 2em;
    height: var(--footer-height);
    color: var(--text-alt-color);
    background-color: var(--bg-alt-color);
}

footer p {
    margin: 0 auto;
    padding: 0.25em 0.5em;
    font-size: 0.85em;
    max-width: var(--max-width);
}

footer a,
footer a:visited {
    color: var(--link-color);
    background-color: var(--bg-alt-color);
}

footer a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

#meta {
    text-indent: 0;
    line-height: 1.25em;
    font-size: .85em;
    font-family: "Merriweather Sans";
}

/* Styling for post extract in the index  */

.post-title {}
.post-meta {
    margin: 0;
    font-size: 0.85em;
    font-family: "Merriweather Sans";
}
